@import "./variables.scss";

html {
  font-family: $font-family;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.nav {
  height: 8vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.8rem + 0.5vw);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 35%;
  li {
    padding-left: 7%;

    a {
      text-decoration: none;
    }
  }
}

.main-text {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aqua;
  margin: 0 auto;

  h1 {
    font-size: calc(20px + 6vw);
    margin: 5% 0 3% 8%;
    font-weight: 600;
  }
  h2 {
    font-size: calc(10px + 2vw);
    font-weight: 400;
    margin-bottom: 2vh;
    margin: 1% 0 2% 8%;
  }

  p {
    margin: 1% 0 0% 8%;
    font-size: calc(10px + 1vw);
  }
  button {
    margin: 2% 0 0% 8%;
    max-width: 256px;
    min-height: 64px;
    background-color: rgb(255, 158, 12);
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: #222;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.main-cards {
  width: 90vw;
  height: 60vh;
  display: flex;
  margin: 15% auto;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 0 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3%;
    width: 10vw;
    height: 45vh;
    box-shadow: 0 8px 6px -6px #ccc;
    display: flex;
    justify-content: center;

    span img {
      margin: 7% auto 20% auto;
      display: block;
      width: 60%;
      height: auto;
    }
  }
}
